__debug_bin
.DS_Store
.vscode
dist/
.idea
.cursor
*.pem
# ignore generated code
pkg/eval/flagd-definitions.json
*.crt
*.key
core-coverage.out
go.work
go.work.sum
bin/
node_modules/
.venv

# built documentation
site
.cache/

# coverage results
*coverage.out

# benchmark results
benchmark.txt