apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: flagd
  name: flagd
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: flagd
  template:
    metadata:
      labels:
        app.kubernetes.io/name: flagd
        app: flagd
    spec:
      containers:
        - name: flagd
          image: ${IMG}
          volumeMounts:
            - name: config-volume
              mountPath: /etc/flagd
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8014
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8014
            initialDelaySeconds: 5
            periodSeconds: 60
          ports:
            - containerPort: 8013
          args:
            - start
            - --uri
            - file:/etc/flagd/config.json
            - --debug
      volumes:
        - name: config-volume
          configMap:
            name: open-feature-flags
            items:
              - key: flags
                path: config.json
---
# ConfigMap for Flagd OpenFeatuer provider
apiVersion: v1
kind: ConfigMap
metadata:
  name: open-feature-flags
data:
  flags: |
    {
      "flags": {
        "myStringFlag": {
          "state": "ENABLED",
          "variants": {
            "key1": "val1",
            "key2": "val2"
          },
          "defaultVariant": "key1"
        }
      }
    }
