[Unit]
Description="A feature flag daemon with a Unix philosophy"

[Service]
User=root
WorkingDirectory=/etc/flagd
ExecStart=flagd start --uri file:flags.json
Restart=always

[Install]
WantedBy=multi-user.target
